---
import type { ImageMetadata } from "astro";
import { Image, Picture } from "astro:assets";

interface Props {
	heading: {
		heading_text: string;
		text_color: string;
	};
	background_image: {
		image_path: string;
		alt_text: string;
	};
	background_filters: {
		brightness: number;
		blur: number;
		background_gradient: {
			gradient_enabled: boolean;
			gradient_direction: string;
			gradient_color: string;
      gradient_transparency: number;
      gradient_start: number;
		};
	};
}

const { heading, background_image, background_filters } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/**/*.{jpeg,jpg,png,gif}",
	{ eager: true },
);
const imageSrc =
	images[background_image.image_path]?.default ?? background_image.image_path;

const opacityDecimal = 1 - (1 / (100 / background_filters.background_gradient.gradient_transparency));
---

<section class="hero">
  <div class="hero-container">
    <h1 style={`color: ${heading.text_color};`}>
      {heading.heading_text}
    </h1>
    {
      imageSrc && (
        <div
          class="hero-bg-image-filter-grad"
          style={background_filters.background_gradient.gradient_enabled ? 
            `opacity: ${opacityDecimal}; background-color: ${background_filters.background_gradient.gradient_color}; mask-image: linear-gradient(to ${background_filters.background_gradient.gradient_direction},  ${background_filters.background_gradient.gradient_color}1A,  ${background_filters.background_gradient.gradient_color} ${background_filters.background_gradient.gradient_start}%);`
            : ''}>    
        </div>
        <div
          class="hero-bg-image-filter"
          style={`backdrop-filter: brightness(${background_filters.brightness}%) blur(${background_filters.blur}px);`}>    
        </div>
        <Picture
          class="hero-bg-image"
          alt={background_image.alt_text}
          src={imageSrc}
          widths={[600, 800, 1200, 1600, 2000, 2400, 2800, 3200, 3600]}
          sizes="100vw"
          loading="eager"
          formats={["avif", "webp"]}
        />
      )
    }
  </div>
</section>

<style>
  .hero {
    position: relative;
  }
  .hero-container {
    max-width: var(--pageContainer);
    min-height: calc(60vh - var(--headerHeightMobile));
    max-height: calc(45rem - var(--headerHeightMobile));
    margin-inline: auto;
    padding-inline: var(--pagePadding);
    display: flex;
  }
  .hero-bg-image,
  .hero-bg-image-filter,
  .hero-bg-image-filter-grad {
    position: absolute;
    left: 0;
    top: calc(var(--headerHeightMobile) * -1);
    width: 100%;
    min-height: calc(25rem + var(--headerHeightMobile));
    height: calc(60vh + var(--headerHeightMobile));
    max-height: calc(45rem + var(--headerHeightMobile));
    object-fit: cover;
  }

  .hero-bg-image-filter {
    z-index: 1;
  }
  .hero-bg-image-filter-grad {
    z-index: 2;
  }

  .hero-container h1 {
    position: relative;
    z-index: 99;
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 25rem;
    height: calc(60vh - var(--headerHeightMobile));
    max-height: 45rem;
    padding-block: 40px;
  }

  @media screen and (min-width: 512px) {
    .hero-container h1 {
      font-size: 2.5rem;
    }
  }
  @media screen and (min-width: 1000px) {
    .hero-container {
      min-height: calc(60vh - var(--headerHeight));
      max-height: calc(45rem - var(--headerHeight));
      padding-inline: var(--pagePadding);
    }
    .hero-bg-image,
    .hero-bg-image-filter,
    .hero-bg-image-filter-grad {
      top: calc(var(--headerHeight) * -1);
      min-height: calc(25rem + var(--headerHeight));
      height: calc(60vh + var(--headerHeight));
      max-height: calc(45rem + var(--headerHeight));
    }
    .hero-container h1 {
      height: calc(60vh - var(--headerHeight));
    }
  }
</style>
