---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  heading: {
    heading_text: string;
    text_color: string;
  };
  image: {
    image_path: string;
    alt_text: string;
  };
  background_color: string;
}

const block = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}",
  { eager: true }
);
const imageSrc =
  images[block.image.image_path]?.default ?? block.image.image_path;
---

<section
  class="relative"
  style={`background-color: ${block.background_color};`}>
  <div class="hero-container">
    <h1 style={`color: ${block.heading.text_color};`}>
      {block.heading.heading_text}
    </h1>
    <Image
      class={`absolute w-full h-full object-cover left-0`}
      alt={block.image.alt_text}
      src={imageSrc}
    />
  </div>
</section>
<style>
  .hero-container {
    max-width: var(--pageContainer);
    min-height: 640px;
    margin-inline: auto;
    padding-inline: var(--pagePadding);
    padding-block: 24px;
  }
  .hero-container img {
    top: calc((var(--headerLogoHeight) + (var(--headerPaddingBlock) * 2)) * -1);
  }
</style>
