---
import Markdown from "../utility/markdown.astro";

interface Props {
  background_color: string;
  tab_heading_inactive_color: string;
  tab_text_color: string;
  heading: {
    heading_text: string;
    text_color: string;
  };
  tabs: [
    {
      tab_heading: string;
      text_content: string;
    },
  ];
}

const {
  background_color,
  tab_heading_inactive_color,
  tab_text_color,
  heading,
  tabs,
} = Astro.props;
---

<div class="tabbed-text" style={`background-color: ${background_color};`}>
  <div x-data="{ selectedTab: 0 }" id="tab_wrapper">
    <!-- The tabs navigation -->
    <nav>
      {
        tabs.map((tab, index) => {
          return (
            <button x-on:click={`selectedTab = ${index}`} class="color-button">
              {tab.tab_heading}
            </button>
          );
        })
      }
    </nav>

    {
      tabs.map((tab, index) => {
        return (
          <div
            class="tab-content"
            x-bind:class={`selectedTab == ${index} ? 'show' : 'hide'`}>
            {tab.text_content}
          </div>
        );
      })
    }
  </div>
</div>

<style is:global>
  .tab_wrapper {
    position: relative;
  }
  .tab-content {
    position: absolute;
    z-index: 999;
    background-color: white;
    padding: 96px;
  }
  .hide {
    left: 100vw;
    opacity: 0;
    z-index: 0;
    transition-property: opacity left;
    transition-duration: 2s;
  }
  .show {
    transition-property: left;
    transition-duration: 2s;
    left: 0vw;
  }
</style>
