---
import { Picture } from "astro:assets";
import { footer } from "../../../data/navigation.json";
import Icon from "../utility/icon";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,svg}",
  { eager: true }
);

const footerLogo = images[footer.logo]?.default ?? footer.logo;
---

<footer
  style={`background-color: ${footer.background_color}; color: ${footer.color};`}>
  <div class="px-8">
    <div
      class="footer grid grid-cols-1 sm:grid-cols-3 justify-between items-center gap-8 py-[48px]">
      <a
        class="flex justify-center sm:justify-start items-center"
        href={footer.logo_url}>
        <Picture
          pictureAttributes={{
            class: "footer__logo-image",
          }}
          alt="Hihi Yoga logo"
          src={footerLogo}
          loading="eager"
          widths={[600, 500]}
          sizes="(max-width: 800px) 100vw, 500px"
          formats={["avif", "webp"]}
        />
      </a>
      <ul class="flex gap-4 items-center justify-center">
        {
          footer.social.map((link) => {
            return (
              <li class="w-[2rem]">
                <a href={link.link}>
                  <Icon icon={link.social_icon} />
                </a>
              </li>
            );
          })
        }
      </ul>

      <ul class="flex flex-col text-center sm:text-end gap-4">
        {
          footer.links.map((link) => {
            return (
              <li>
                <a href={link.link}>{link.text}</a>
              </li>
            );
          })
        }
      </ul>
    </div>

    <p class="text-center py-8">
      &#169; {new Date().getFullYear()}
      {footer.copyright}
    </p>
  </div>
</footer>

<style>
  .footer {
    max-width: var(--pageContainer);
    margin: 0 auto;
  }
  .footer__logo-image {
    display: block;
    max-width: min(200px, 80%);
  }
</style>
