---
import { header } from "../../../data/navigation.json";
import Icon from "../utility/icon";

const backgroundColor = header.background_color;
const textColor = header.text_color;
const backgroundColorMobile = header.background_color_mobile;
const textColorMobile = header.text_color_mobile;
const hoverTextColor = header.hover_text_color;
const hoverTextColorMobile = header.hover_text_color_mobile;
---

<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <a class="header__logo-link" href={header.logo_url}>
        <img class="header__logo-image" src={header.logo} alt="Logo" />
      </a>

      <!-- Mobile menu -->
      <button
        class="hamburger-icon"
        popovertarget="mobile-menu"
        popovertargetaction="show">
        <Icon icon="Bars" />
      </button>
      <div popover id="mobile-menu" class="mobileMenuPopover">
        <button
          class="close-menu-icon"
          popovertarget="mobile-menu"
          popovertargetaction="hide">
          <Icon icon="Close" />
        </button>
        <ul
          class="header__nav-links-mobile"
          aria-label="Header navigation links">
          {
            header.links.map((link) => {
              return (
                <li class="header__nav-item">
                  <a class="header__nav-link" href={link.link}>
                    {link.text}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>

      <!-- Desktop header links -->
      <ul
        class="header__nav-links-desktop"
        aria-label="Header navigation links">
        {
          header.links.map((link) => {
            return (
              <li class="header__nav-item">
                <a class="header__nav-link" href={link.link}>
                  {link.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style
  define:vars={{
    backgroundColor,
    textColor,
    backgroundColorMobile,
    textColorMobile,
    hoverTextColor,
    hoverTextColorMobile,
  }}
>
  .header {
    background-color: var(--backgroundColorMobile);
    color: var(--textColorMobile);
    position: relative;
    z-index: 99;
  }
  .header__container {
    max-width: var(--pageContainer);
    margin: 0 auto;
  }
  .header li {
    list-style-type: none;
  }
  .header__logo-image {
    height: var(--headerLogoHeight);
    width: auto;
    margin-left: var(--pagePadding);
  }
  .hamburger-icon,
  .close-menu-icon {
    position: relative;
    width: clamp(1.5rem, 4vw, 2rem);
  }
  .hamburger-icon {
    margin-right: var(--pagePadding);
  }
  .close-menu-icon {
    align-self: end;
    justify-self: end;
  }
  .mobileMenuPopover {
    /* Closed state transformed off the screen */
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100vh);
    transition:
      transform 0.4s,
      overlay 0.4s ease-out;
    display: flex;
    flex-direction: column;
    padding-inline: var(--pagePadding);
    padding-top: 40px;
    padding-bottom: 54px;
    width: 100vw;
    inset: unset;
    height: fit-content;
    background-color: var(--backgroundColorMobile);
    color: var(--textColorMobile);
  }

  /* Styles while the menu is open */
  .mobileMenuPopover:popover-open {
    transform: translateY(0);
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }
  .header__nav-links-desktop {
    display: none;
  }
  .header__nav-links-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 1rem;
    font-size: clamp(1rem, 4vw, 2rem);
  }
  .header__nav-link {
    cursor: pointer;
  }
  .header__nav-links-mobile .header__nav-link:hover {
    color: var(--hoverTextColorMobile);
  }
  @media screen and (min-width: 900px) {
    .header {
      background-color: var(--backgroundColor);
      color: var(--textColor);
    }
    .header__nav-links-mobile,
    .hamburger-icon,
    .mobileMenuPopover,
    .close-menu-icon {
      display: none;
    }
    .header__nav-links-desktop {
      position: static;
      margin-inline: var(--pagePadding);
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
    }
    .header__nav-item {
      padding-left: 2.5rem;
    }
    .header__nav-links-desktop .header__nav-link {
      font-family: "Inter", sans-serif;
    }
    .header__nav-links-desktop .header__nav-link:hover {
      color: var(--hoverTextColor);
    }
  }
</style>
