---
import Form from "../utility/form.astro";
import Icon from "../utility/icon";
import Markdown from "../utility/markdown.astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,svg}",
  { eager: true }
);

interface Props {
  background_color: string;
  heading: {
    heading_text: string;
    heading_color: string;
  };
  image: {
    image_path: string;
    alt_text: string;
  };
  form: [
    {
      label: string;
      color: string;
      type: string;
      name: string;
      width: string;
      values: [{ value: string; label: string }];
    },
  ];
  button: {
    background_color: string;
    text_color: string;
    text_content: string;
    link_url: string;
  };
}

const { background_color, image, heading, form, button } = Astro.props;

const imageSrc = images[image.image_path]?.default ?? image.image_path;
---

<section id="contact" style={`background-color: ${background_color}`}>
  <div class="contact-form-container">
    <h2 class="desktop-heading" style={`color: ${heading.heading_color};`}>
      {heading.heading_text}
    </h2>

    <div class="contact-form-content">
      <Image
        class="contact-form-image"
        alt={image.alt_text}
        widths={[320, 500, 640]}
        sizes={`(max-width: 640px) 320px, (max-width: 960px) 500px, (max-width: 1280px) 640px`}
        src={imageSrc}
      />
      <h2 class="mobile-heading" style={`color: ${heading.heading_color};`}>
        {heading.heading_text}
      </h2>

      <Form form={form} button={button} />
    </div>
  </div>
</section>

<style>
  .contact-form-container {
    max-width: var(--pageContainer);
    margin: 0 auto;
    padding-inline: var(--pagePadding);
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .desktop-heading {
    display: none;
  }
  .mobile-heading {
    font-size: 1rem;
    display: block;
  }
  .contact-form-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .contact-form-image {
    width: 100%;
    max-width: 670px;
    border-radius: 50px;
  }
  #contact-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  @media only screen and (min-width: 768px) {
    .contact-form-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .desktop-heading {
      display: block;
      font-size: 2rem;
    }
    .mobile-heading {
      display: none;
    }
    .contact-form-image {
      width: 45%;
    }
    #contact-form {
      width: 45%;
    }
  }
  @media only screen and (min-width: 1024px) {
    #contact-form {
      width: 45%;
      grid-template-columns: 1fr 1fr;
    }
  }

  input,
  textarea {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: black;
  }
  .text-input-group,
  .check-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .text-input-group label {
    line-break: anywhere;
  }
  .form-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
</style>
