---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Markdown from "../utility/markdown.astro";

interface Props {
  background_image: {
    image_path: string;
    alt_text: string;
  };
  heading: {
    heading_text: string;
    text_color: string;
  };
  slides: [
    {
      slide_heading: string;
      text_content: string;
      text_color: string;
    },
  ];
}
const { background_image, heading, slides } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}",
  { eager: true }
);
const imageSrc =
  images[background_image.image_path]?.default ?? background_image.image_path;
---

<div class="swiper-body">
  <div class="swiper-container">
    <h2 style={`color: ${heading.text_color};`}>{heading.heading_text}</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        {
          slides?.map((slide) => {
            return (
              <div class="swiper-slide" style={`color: ${slide.text_color};`}>
                <div class="slide-text-content">
                  <h3>{slide.slide_heading}</h3>
                  <Markdown content={slide.text_content} />
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
  {
    imageSrc ? (
      <div class="background-image">
        <Image
          alt={background_image.alt_text}
          src={imageSrc}
          widths={[640, 2000]}
          sizes={`(max-width: 640px) 640px, (max-width: 960px) 2000px`}
        />
      </div>
    ) : (
      ""
    )
  }

  <style>
    .swiper-body {
      position: relative;
      overflow-y: hidden;
      padding-block: 96px;
      --swiper-navigation-top-offset: 95%;
    }
    .swiper-container {
      max-width: var(--pageContainer);
      margin: 0 auto;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next::after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev::after {
      display: inline-flex;
      content: "";
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 1rem;
      width: 2rem;
    }
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev::after {
      background-image: url("icons/pagination-next.svg");
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next::after {
      background-image: url("icons/pagination-prev.svg");
    }
    .background-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      padding-inline: 48px;
      margin: auto;
      padding-inline: var(--pagePadding);
    }
    .slide-text-content {
      max-width: min(840px, 72ch);
      margin: 0 auto;
    }
    .slide-text-content h3 {
      margin-bottom: 1.75rem;
    }

    @media screen and (min-width: 768px) {
      .swiper-body {
        padding-block: 300px;
        --swiper-navigation-top-offset: 50%;
      }
      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next::after,
      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev::after {
        /* width: 2rem; */
      }
    }
    @media screen and (min-width: 1028px) {
      .swiper {
        --swiper-navigation-sides-offset: 10vw;
      }
    }
  </style>
</div>
